/* CSS Document */
body,ul,li {
	margin: 0px;
	border: 0px;
	padding: 0px;
	}
#footer {
	background-color: #C6F;
	border: none;
	margin: 0px auto;
	width: 1000px;
	height: 140px;
	}

#footercopyright {
	width: 1000px;
	margin: 0px auto;
	text-align: center;
	line-height: 70px;
	color: white;
	float: left;
	}
#footermenu {
	margin: 0px auto;
	text-align: center;
	line-height: 20px;
	}
#footer a {
	color: white;
	text-decoration: none;
	}
